body{
    background: #2980B9;
    background: -webkit-linear-gradient(45deg,#2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(45deg, #2980B9, #6DD5FA, #FFFFFF);
    background-size: 200% 200%;
    animation:gradient 10s ease infinite;

    font-size:16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#ffffff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.container{
    max-width: 750px;
    margin:auto;
    padding-top: 30px;
}
.bg-gray{
    background:#2b8ac977;
}
.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.card h2{
    margin-top: 0;
}
.avatar{
    border-radius: 10%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}
.infotext{
    margin-left: 40px;
}
.infotext h4{
    margin-bottom: 10px;
}
.info{
    color: #ffffff;
    margin:0;
    display: flex;
    margin-bottom: 20px;
}
a{
    color:rgb(255, 255, 255);
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}
.info p{
    margin:0;
}